body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}


/* Estiliza o título principal */

h1 {
    text-align: center;
    color: #333;
    padding: 20px 0;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
    margin: 0;
    box-shadow: 0 0 85px #ddd;
}


/* Estiliza o formulário */

.formulario {
    max-width: 600px;
    margin: 70px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

form input[type="text"],
form input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #4cae4c;
}


/* Estiliza a lista de contatos */

ul {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
}

ul li {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

ul li strong {
    display: inline-block;
    width: 100px;
}


/* Estiliza o botão de exclusão */

ul li form button {
    background-color: #d9534f;
}

ul li form button:hover {
    background-color: #c9302c;
}